.formContainer{
    margin-top: 20px;
    background-color: white;
    opacity: 89%;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-left: 23px;
    padding-right: 23px;
   
    
    
}

.redbox{

}

.greenbox{
    
}