.formContainer{
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.0); /* Black background with opacity */
    opacity: 89%;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-left: 23px;
    padding-right: 23px;
   
    
    
}

