h1 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    margin-top: -10px;
    color: black;
}

h2 {
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
    font-size: 60px;
    
}

